.__pycache__
__pycache__/
.pytest_cache
.venv
webscraping/venv
.env
*.zip
*.ttf
*.otf
*.rar

# Scraped Fonts
webscraping/scrape_files/all_fonts
webscraping/scrape_files/all_fonts_pre
webscraping/scrape_files/thaifaces_demo
webscraping/scrape_files/thaifaces_other